services:
  agenta:
    build:
      context: .
    image: agenta:latest
    container_name: agenta
    restart: unless-stopped
    environment:
      - PYTHONPATH=/app
      - MODELS_PATH=/app/agentA_microservice/data
      - KAFKA_BOOTSTRAP=${KAFKA_BOOTSTRAP}
      - GATE_ID=${GATE_ID}
      - NGINX_RTMP_HOST=${NGINX_RTMP_HOST}
      - NGINX_RTMP_PORT=${NGINX_RTMP_PORT}
