services:
  agenta:
    build:
      context: .
    image: agenta:latest
    container_name: agenta
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
      - MODELS_PATH=/app/agentA_microservice/data
      - KAFKA_BOOTSTRAP=${KAFKA_BOOTSTRAP}
      - GATE_ID=${GATE_ID}
      - NGINX_RTMP_HOST=${NGINX_RTMP_HOST}
      - NGINX_RTMP_PORT=${NGINX_RTMP_PORT}
    logging:
      driver: loki
      options:
        loki-url: "http://10.255.32.132:3100/loki/api/v1/push"
        loki-batch-size: "400"
        loki-retries: "2"
        loki-max-backoff: "1s"
        labels: "service=agent-a,type=ml-agent"
