--extra-index-url https://download.pytorch.org/whl/cpu

# CPU builds
torch==2.4.1+cpu
ultralytics>=8.3.0
opencv-python-headless>=4.12.0.88
confluent_kafka==2.12.2
gdown==5.2.0
minio

# Prometheus metrics
prometheus_client
