version: "3.9"

services:

  mongo:
    image: mongo:6
    container_name: de_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  mongo-express:
    image: mongo-express
    container_name: de_mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_MONGODB_SERVER: mongo

  redis:
    image: redis:7
    container_name: de_redis
    ports:
      - "6379:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: de_zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: de_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  decision-engine:
    build: .
    container_name: decision_engine
    restart: always
    depends_on:
      - mongo
      - redis
      - kafka
    environment:
      MONGO_URL: mongodb://admin:admin123@mongo:27017
      REDIS_HOST: redis
      KAFKA_HOST: kafka:9092
      DATA_MODULE_URL: http://host.docker.internal:8000   # <-- comunicação entre composes
    ports:
      - "8001:8001"

volumes:
  mongodata:
