services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"   # S3 API
      - "9090:9090"   # MinIO Console
    environment:
      MINIO_ROOT_USER: "admin"
      MINIO_ROOT_PASSWORD: "adminadmin"
    volumes:
      - ./data/minio:/data
    command: server /data --console-address ":9090"
    restart: unless-stopped
