fastapi
uvicorn[standard]
pydantic
pydantic-settings

# PostgreSQL
psycopg2-binary
SQLAlchemy
alembic

# MongoDB
pymongo
dnspython

# Redis
redis[hiredis]

# HTTP calls
httpx

# Utils
loguru
requests
python-dotenv
