# AI_APP Unified Environment Variables
# Copy this file to .env and fill in your values

# --- Kafka Configuration ---
KAFKA_BOOTSTRAP=<kafka-host>:<kafka-port>

# --- MediaMTX RTSP Streaming Configuration ---
MEDIAMTX_HOST=<mediamtx-host>
MEDIAMTX_PORT=8554

# --- MinIO Object Storage ---
MINIO_HOST=<minio-host>
MINIO_PORT=<minio-port>
MINIO_USER=<minio-access-key>
MINIO_PASSWORD=<minio-secret-key>
MINIO_SECURE=False

# --- AI_Gateway ---
GATEWAY_PORT=8000
GATEWAY_HOST="0.0.0.0"
RECEIVERS=["http://<receiver-host>:<receiver-port>"]

# --- Gate Ids ---
GATE_IDS=["1","2"]

# --- Agents ---
MAX_FRAMES=40
AGENT_A_MIN_DETECTION_CONFIDENCE=0.75
AGENT_B_MIN_DETECTION_CONFIDENCE=0.6
AGENT_C_MIN_DETECTION_CONFIDENCE=0.4
FRAMES_BATCH_SIZE=5

# Model download paths
MODELS_PATH_A=/app/AI_APP/agentA/data
MODELS_PATH_B=/app/AI_APP/agentB/data
MODELS_PATH_C=/app/AI_APP/agentC/data

# --- Observability (Promtail) ---
VM_NAME=IA_APP
LOKI_URL=<loki-host>
