[run]
source = src
omit =
    src/OCR.py
    src/CropStorage.py
    src/RTSPstream.py
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
