services:
  api-gateway:
    build: .
    image: api-gateway:latest
    container_name: api-gateway
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      - DATA_MODULE_URL=${DATA_MODULE_URL}
      - STREAM_BASE_URL=${STREAM_BASE_URL}
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - KAFKA_DECISION_TOPIC=${KAFKA_DECISION_TOPIC}
      - KAFKA_CONSUMER_GROUP=${KAFKA_CONSUMER_GROUP}
      - API_PREFIX=${API_PREFIX}
      - ENV=${ENV}
      - CORS_ALLOW_ORIGINS=${CORS_ALLOW_ORIGINS}
      - CORS_ALLOW_CREDENTIALS=${CORS_ALLOW_CREDENTIALS}
      - CORS_ALLOW_METHODS=${CORS_ALLOW_METHODS}
      - CORS_ALLOW_HEADERS=${CORS_ALLOW_HEADERS}
